header {
    margin-top: 12px;
    background: #FCA311;
    width: 40%;
    margin: 14px auto 0 auto;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid #14213D;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container h1{
    font-size: 36px;
    margin: 10px 0 0 0;
    color:#ffffff;
    font-weight: 600;
    font-family:'Trebuchet MS';
}

.taskIcon{
    width: 50px;
    height: auto;
    color:#14213D;
}
