header {
    margin-top: 12px;
    background-color: #14213D;
    min-width: 100%;
    margin: 14px auto 0 auto;
    padding: 8px;
    border-radius: 10px;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container h1{
    font-size: 36px;
    margin: 10px 0 0 0;
    color:#FCA311;
    font-weight: 600;
    font-family:'Trebuchet MS';
}

.taskIcon{
    width: 45px;
    height: auto;
    color:#fff;
}
