.task-list-container {
    width: 40%;
    margin: 14px auto 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    background-color: #FCA311;;
    border-radius: 12px;
    border: 3px solid #14213D;
  }
  .task-list-title{
    color: #333;
  }
  