.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 14px auto 0 auto;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FCA311;
    border-radius: 12px;
    border: 3px solid #14213D;
    gap: 8px;
  }
  
  .task-form h2 {
    color: #14213D;
  }
  
  .task-form input {
    margin-right: 10px;
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-form button {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #14213D;
    border-radius: 10px;
    font-weight: 600;
  }
  