.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e5e5e5;
    border-radius: 12px;
  }
  
  .task span {
    flex-grow: 1;
    font-weight: bold; 
    word-break: break-word;
    text-align: left;

  }
  
  .task button {
    margin-left: 8px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .task.complete {
    text-decoration: line-through;
    color: #4a4a4a;
    font-weight:400;
  }
  

  .task.incomplete {
    text-decoration: none;
  }

  .delete{
    background-color: #d30101;
    padding: 6px;
  }
  
  .task-status-done-Icon{
    width: 30px;
    height: auto;
    color: green;
  }

  .task-btn{
    background-color:  #e5e5e5;
  }

  .task-status-ongoing-Icon{
    width: 30px;
    height: auto;
    color: #666666;
  }

  .task-status-bin-Icon{
    width: 20px;
    height: auto;
    
  }