*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

h1 {
  color: #333;
}

button {
  cursor: pointer;
  background-color: #14213d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}

input {
  padding: 8px;
  font-size: 14px;
  margin-right: 10px;
}

/* Add more global styles as needed */
